/* ========== FONTS ========== */

@font-face {
	font-family: 'Nexa Bold';
	src: url('fonts/NexaBold.otf'); }
@font-face {
	font-family: 'Nexa Light';
	src: url('fonts/NexaLight.otf'); }

/* ========== GENERAL ========== */

html{
	font-family: 'Nexa Light';
}

a{
	text-decoration: none;
	color: inherit;
}

#center-text p{
	text-align: center;
}

.footer{
	width: 80%;
	bottom: 0;
	padding-bottom: 2%;
	padding-left: 2%;
	font-size: 8pt;
}

.logo-center{
	width: 220%;
	margin-left: -59%;
}

.clearfix {
  overflow: auto;
	clear:both;
}

.small{
	font-style: italic;
	font-size: 45%;
}

@media only screen and (min-width : 800px){
	.small{
		font-size: 50%;
	}
	.footer{
		font-size: 13pt;
		padding-bottom: 1%;
	}
}

@media only screen and (min-width : 1200px){
	.small{
		font-size: 55%;
	}
}

.toggle{
	display: none;
	z-index: 10000;
	left:50%;
	transform: translateX(-50%);
	position: fixed;
}

div.toggler div {
	display:none;
}

div.toggler{
	background:lightblue;
	cursor:pointer;
}

.idea-container{
	width: 95%;
	margin: auto;
	text-align: center;
}

.idea-text{
	font-size: 13pt;
	text-align: center;
	margin: auto;
	width: 65%;
}

.idea-img{
	height: auto;
	width: 18%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.ideas-img{
	padding-right: 12%;
}

.industries-img{
	padding-left: 12%;
}

@media only screen and (min-width : 700px){
	.picture-text{
		font-size: 20pt;
		padding: 2%;
		border: 3px solid black;
	}

	.idea-text{
		width: 55%;
		font-size: 18pt;
		line-height: 110%;
	}

	.idea-img{
		width: 11%;
		padding-top: 15%;
		padding-bottom: 15%;
	}

	.ideas-img{
		padding-right: 15%;
	}

	.industries-img{
		padding-left: 15%;
	}
}

@media only screen and (min-width : 900px){
	.idea-text{
		width: 30%;
		font-size: 21pt;
	}

	.idea-img{
		width: 7%;
		padding-top: 5%;
		padding-bottom: 8%;
	}

	.ideas-img{
		padding-right: 8%;
	}

	.industries-img{
		padding-left: 8%;
	}
}

.arrow-dwn{
	padding-top:2%;
	display: inline-block;
}

/* =========== ARCHIVE ============ */

.archive-container{
	background: #F7F7F7;
	width: 75%;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;
	position: relative;
}

.display_archive {
	font-family: 'Nexa Light';
	font-size: 12pt;
}
.campaign {
	outline-color: black;
	outline-style: solid;
	outline-width: 2px;
	width: 75%;
	margin: 0 auto;
	padding: 3%;
	text-align: center;
}

.campaign:hover{
	outline-style: dashed;
}

.archive-title{
	text-align: center;
	padding-bottom: 2%;
	font-size: 14pt;
}

.archive-popup-scroll{
  overflow-y: scroll;
  max-height: 400px;
  padding: 8%;
}


@media only screen and (min-width : 900px){
	.archive-container{
		width: 35%;
	}

	.campaign {
		width: 45%;
	}

	.archive-popup-scroll{
		max-height: 400px;
		padding: 3%;
	}
}

@media only screen and (min-width : 1200px){
	.archive-container{
		width: 40%;
	}

	.campaign {
		width: 50%;
	}

	.archive-popup-scroll{
		max-height: 500px;
		padding: 2%;
	}
}

/* =========== CALENDER ============ */

.calendar-wrapper{
    padding-top: 1.5%;
    overflow: hidden;
		width: 100%;
		margin: 0 auto;
		background: #FFFFFF;
}

.select-day{
	padding-left: 2%;
	font-style: italic;
	font-size: 9pt;
}

.mobile-event-desc{
	width: 80%;
	padding-left: 6%;
	padding-top: 1%;
	font-size: 10pt;
}

.mobile-event{
	width: 90%;
	margin: 0 auto;
	margin-top: 0.5%;
	padding: 0.5%;
	position: relative;
	display: block;
	font-size: .85em;
	line-height: 1.3;
	border-radius: 3px;
	border: 1px solid #3a87ad;
	background-color: #3a87ad;
	font-weight: normal;
	color: #FFFFFF;
}

.event-tooltip{
	background-color: #FFFFFF;
	border: 1px dashed  #000000;
	position: absolute;
	z-index: 10001;
	padding: 0.5%;
	max-width: 15%;
	font-size: 90%;
	word-wrap: break-word;
}

.fc-day-grid-event{
	text-align: center;
}

.fc-day-grid-event .fc-time{
	font-size: 80%;
}

.fc-day-grid-event .fc-title{
	display: none;
}

.fc-event{
	background-color: #57AADF !important;
}

.fc-toolbar{
	background-color: #F6AE37;
	padding: 1%;
}

.fc-toolbar h2{
	font-family: 'Nexa Bold';
	color: #FFFFFF;
	font-size: 130%;
	padding-top: 1%;
}

.fc-day-header{
	font-size: 60% !important;
	padding: 1% !important;
}

.fc-day-number{
	font-size: 110%;
}

.email-event{
	padding-left: 2%;
	font-size: 6pt;
}

@media only screen and (min-width : 450px){
	.fc-day-grid-event .fc-time{
		font-size: 100%;
	}

	.fc-day-header{
		font-size: 80% !important;
	}

	.fc-toolbar h2{
		font-size: 180%;
	}

	.fc-day-grid-event{
		text-align: left;
		padding: 0.5% !important;
	}
}

@media only screen and (min-width : 600px){
	.calendar-wrapper{
			overflow: hidden;
			padding-top: 1%;
			width: 85%;
	}

	.fc-head-container .fc-widget-header{
		margin-top: 1%;
	}

	.fc-day-grid-event .fc-time{
		font-size: 75%;
	}

	.fc-day-grid-event .fc-title{
		font-size: 75%;
		display: inline;
	}

	.email-event{
		font-size: 8pt;
	}

	.fc-toolbar h2{
		font-size: 230%;
	}

	.fc-day-header{
		font-size: 210%;
	}

	.event-tooltip{
		max-width: 20%;
		font-size: 100%;
	}
}

@media only screen and (min-width : 900px){
	.calendar-wrapper{
			padding-top: 0.5%;
			width: 75%;
	}

	.email-event{
		font-size: 10pt;
	}

	.fc-day-grid-event .fc-time{
		font-size: 85%;
	}

	.fc-day-grid-event .fc-title{
		font-size: 85%;
	}

	.fc-day-header{
		font-size: 130% !important;
	}

	.fc-day-grid-event{
		padding: 1.5% !important;
	}

}

@media only screen and (min-width : 1200px){
	.calendar-wrapper{
			width: 76%;
	}

	.email-event{
		font-size: 12pt;
	}

}

/* =========== FORM ============ */

.form-container{
	width: 90%;
	margin: 0 auto;
}

.hidden-from-view {
	left: -5000px;
	position: absolute;
}

/* Basic Grey Theme */
.basic-grey {
	width: 60%;
	margin: 0 auto;
	position: relative;
	text-align: center;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font-size: 15px;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #E4E4E4;
	border-radius: 10px;
}
.basic-grey h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom:1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;;
  color: #888;
}
.basic-grey h1>span {
  display: block;
  font-size: 11px;
}
.basic-grey label {
  display: block;
  margin: 0px;
}
.basic-grey label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
  padding: 5px 3px 3px 5px;
}
.basic-grey select {
  background: #FFF url('down-arrow.png') no-repeat right;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height: 25px;
}
.basic-grey textarea{
  height:100px;
}
.basic-grey .button {
  background: #cc5b4e;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
	font-family: 'Nexa Light';
}
.basic-grey .button:hover {
  background: #E27575;
}
@media only screen and (min-width : 1200px){
	.basic-grey {
		width: 40%;
	}
}

/* ========== NAVBAR ========== */

.navbar{
	width:100%;
	position:fixed;
	top: 0;
	background-color: white;
	opacity: 0.9;
	z-index: 99999;
}

li{
	display:inline-block;
	padding:0px 0%;
	overflow:auto;
	float:right;
	margin-right: 20px;
}

.social-ico{
	height: 15px;
}

.logo{
	font-family: 'Nexa Bold';
	font-size: 21pt;
	float: left;
	padding-left: 3%;
 }

/* ========== LOOPED IN BUTTON ========== */

#loop{
	font-size: 4pt;
	outline-color: black;
	outline-style: solid;
	outline-width: 2px;
	width:27.3%;
	margin: 0px auto;
	text-align: center;
}

#loop:hover{
	outline-style: dashed;
}

#loop p{
	font-size: 3em;
	padding: 5.7%;
}

/* ========== SECTIONS ==========*/

.section-title{
	font-family: 'Nexa Bold';
	color: #cc5b4e;
	text-align: center;
	font-size: 18pt;
	margin-bottom: 8%;
}

.section1-background{
	background-image: none;
}

.section2-background{
	background-image: none;
}

.section3-background{
	background-image: none;
}


@media only screen and (min-width : 700px){
	.section-title{
		font-size: 23pt;
		margin-bottom: 6%;
	}

	.section1-background{
		background-image: url("images/story-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.section2-background{
		background-image: url("images/roadmap-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.section3-background{
		background-image: url("images/people-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

@media only screen and (min-width : 900px){
	.section-title{
		font-size: 30pt;
		margin-bottom: 2.5%;
	}
}

/* ========== NON-MOBILE BREAKPOINTS ==========*/

@media only screen and (min-width : 650px){
	/* ========== NAV DOTS ========== */

	.nav-dots {
		display: none;
		position: fixed;
		top: 10%;
		left: 1%;
		width: 5%;
		z-index: 100;
	}

	.dot {
		height: 12px;
		width: 12px;
		margin: 35%;
		border-radius: 20px;
		background-color: #cccccc;
	}

	.dot.active {
	 background-color: #CC5B4E;
	}

	/* ============================= */

	.social-ico{
		height: 20px;
	}
	.logo{
		font-size: 24pt;
	}
	li{
		margin-right: 30px;
	}
	.logo-center{
		width: 160%;
		margin-left: -31%;
	}
	#loop p{
		font-size: 3.5em;
		padding: 3.5%;
	}
	#center-text p{
		font-size: 12pt;
		width: 55%;
		padding-left: 20%;
	}
}

@media only screen and (min-width : 900px){
	.logo-center{
		width: 200%;
		margin-left: -49%;
		padding-top: 5%;
	}
	.social-ico{
		height: 25px;
	}
	.logo{
		font-size: 30pt;
	}
	li{
		margin-right: 40px;
	}
	#loop p{
		font-size: 14pt;
		padding: 4%;
	}
}

@media only screen and (min-width : 1200px){
	li{
		margin-right: 40px;
	}
	#center-text p{
		width: 50%;
		padding-left: 25%;
		font-size: 17pt;
	}
	#loop{
		width: 25%;
	}
	#loop p{
		font-size: 17pt;
	}
	.logo-center{
		width: 100%;
		margin: 0%;
		overflow: visible;
		padding-top: 3%;
	}
}
@media only screen and (min-width : 1800px){
	li{
		margin-right: 50px;
	}
	.dot{
		margin: 10%;
	}
	#center-text p{
		width: 43%;
		padding-left: 28%;
	}
	.logo-center{
		padding-top: 1%;
	}
	#loop{
		width: 15%;
	}
}
